PROXMOX_URL = "10.0.0.150:8006" # [http(s)://]host[:port], defaults to https on 8006 if not specified
PROXMOX_USER = "root@pam"
PROXMOX_TOKEN_NAME = "guac-provisioner"
PROXMOX_TOKEN_SECRET = "xxxxxxxx-xxxx-xxxx-xxxx-xxxxxxxxxxxx"
PROXMOX_NODE = "proxmox"

TEMPLATE_VM_ACCESS_METHOD = "ssh" # rdp for windows, vnc for linux desktop
TEMPLATE_VM_ID = 902
TEMPLATE_VM_USERNAME = "example-user"
TEMPLATE_VM_PASSWORD = "example-password"

GUACAMOLE_URL = "http://10.0.0.102:8080/guacamole"
GUACAMOLE_KEY = "xxxxxxxxxxxxxxxxxxxxxxxxxxxxxxxx" # matches key configured in guac compose
GUAC_LINK_TTL_SECONDS = 7200 # how long the guac links stays valid

URL_OUTPUT_FILE = "pool.json"
VM_COUNT = 5
